

<footer class="footer bg-dark text-light py-5">
    <div class="container">
      <div class="row">
  
        <!-- Contact Section -->
        <div class="col-md-4">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li><i class="fa-solid fa-envelope" style="color: #fcfcfb;"></i>   timesecommerce11@gmail.com</li>
            <li><i class="fa-solid fa-phone" style="color: #f7f5f3;"></i> 1141411445</li>
            <br>
            <div class="d-flex justify-content-between  mx-5  ">
              <li> <i class="fa-brands fa-instagram" style="color: #fcfcfc;"></i></li>
              <li> <i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></li>
              <li> <i class="fa-brands fa-facebook" style="color: #feffff;"></i></i></li>
              <li> <i class="fa-brands fa-linkedin" style="color: #fcfcfc;"></i></li>
              
            </div>
          </ul>
        </div>
  
        <!-- About Us Section -->
        <div class="col-md-4">
          <h5>About Us</h5>
          <ul class="list-unstyled">
            <li>Company Info</li>
            <li>Business Area</li>
            <li>Brand identity</li>
            <li>Careers</li>
          </ul>
        </div>
  
        
        <div class="col-md-4 text-center">
            <img src="/image/TIME S.jpg" width="150" height="45" />
        </div>
       
      </div>
    </div>
  </footer>
  

</body>
</html>


