
<%-include("../partials/header.ejs")%>


<div class="container">
    <div id="oneabout"class="m-3  d-flex"   >
        <div class="m-2 ">
                    <div id="about" class=" pb-4 pt-4">
                        <h4 class="text-danger">About</h4>
                        
                           <h6 class="text fst-italic ">Welcome to Time S At Time S, we believe that time is more than just a
                            measure; it's a reflection of your lifestyle, a companion in your daily
                            adventures, and an expression of your unique identity. Our passion for
                            technology and style converges in the world of smartwatches, where
                            innovation meets elegance.</h6> 
                        
                    </div>

                    <div id="customer" class=" pb-4 pt-4">
                        <h4 class="text-danger">Customer-Centric Approach</h4>
                           <h6 class="text fst-italic ">At Time S, our commitment goes beyond selling smartwatches. We are dedicated
                            to providing an exceptional customer experience. Our knowledgeable support
                            team is always ready to assist you, ensuring that your journey with Time S is
                            as smooth as the sleek design of our watches.</h6>
                    </div>
    

                </div>

                <div class="m-2 ">
                <div id="join" class=" pb-4 pt-4">
                    <h4 class="text-danger">Join the Time S Community</h4>
                       <h6 class="text fst-italic ">Embark on a journey with us, where timekeeping is elevated to an art form.
                        Explore our collection, discover the features that resonate with your
                        lifestyle, and join the Time S community of individuals who appreciate the
                        perfect blend of technology and style.</h6> 
                </div>

                <div id="our" class=" pb-4 pt-4 ">
                    <h4 class="text-danger">Our Promise</h4>
                       <h6 class="text fst-italic ">Quality is the cornerstone of our brand. We take pride in delivering a product
                        that not only meets industry standards but exceeds your expectations.</h6> 
                </div>
            </div>
            
            
    </div>
</div>

<%-include("../partials/footer.ejs")%>
