<%-include("../partials/userloggedheder.ejs")%>


<div class="container-fluid  d-flex ">
    <div class=" row">
        <nav class="sidebar">
            <ul>
                <li><a href="/Myprofile"><i class="fa-solid fa-address-card mx-3 " style="color: #fefefe;"> </i><span class="d-none d-sm-inline">My profile</span></a></li>
                <li><a href="/profileEdits"> <i class="fa-solid fa-user-pen mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline"> Add profile</span></a></li>
                <li><a href="/changepassword"><i class="fa-solid fa-key mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline">set password</span></a></li>
                <li><a href="/wallet"><i class="fa-solid fa-wallet mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline">Wallet</span></a></li>
                <li><a href="/wishlist"><i class="fa-solid fa-heart mx-3" style="color: #fefefe;"></i><span class="d-none d-sm-inline">Wishlist</span></a></li>
                <li><a href="/orderHistory"><i class="fa-solid fa-clock-rotate-left mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline">Order history</span></a></li>
                <li><a href="/savedaddress"><i class="fa-solid fa-address-book mx-3" style="color: #fefefe;"> </i><span class="d-none d-sm-inline">Saved address</span></a></li>
        
            </ul>
        </nav>
    </div>
  
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column  mx-3 ">
   <form class="m-4" onsubmit="return validateData()" action="/changepassword" method="post">
    <div class="mt-2 mb-3">
        <label for="Existingpassword">Enter existing password</label>
        <input type="password" id="existingpassword" name="existingpassword" class="form-control" placeholder="Enter your existing password">
    </div>

    <div class="mt-2 mb-3">
        <label for="newpassword">New password</label>
        <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="Enter your new password">
        <div id="errorMessage1"></div>
    </div>

    <div class="mt-2 mb-3">
        <label for="confrmpassword">Confirm password</label>
        <input type="password" id="confrmpassword" name="confrmpassword" class="form-control" placeholder="Enter your new password">
        <div id="errorMessage2"></div>
    </div>
    <button class="BTN btn-primary px-3 " type="submit">SUBMIT</button>
   </form>
    
   <% if (locals.errorMessage) { %>
    <div id="errorAlert" class="alert alert-danger" role="alert">
        <%= locals.errorMessage %>
    </div>
    
<% } %>



</main>
    </div>
</div>

<%-include("../partials/footer.ejs")%>

    <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
                body {
                    font-family: 'Arial', sans-serif;
                    background-color: rgb(242, 239, 239);
                }

                .sidebar {
                    height: auto;
                    width: 200px;
                    background-color: #333;
                    padding-top: 20px;
                    color: white;
                    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
                }

                .sidebar ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                }

                .sidebar li {
                    padding: 15px;
                    font-size: 14px;
                    cursor: pointer;
                    border-bottom: 1px solid #555;
                    transition: background-color 0.3s;
                }

                .sidebar li:hover {
                    background-color: #555;
                }

                .sidebar ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
            
                .sidebar ul li a {
                    text-decoration: none; 
                    color: #fff;
                    display: block;
                }

                @media (max-width: 768px) {
                    .sidebar{
                        width:100%;
                        padding:0px;
                    }
        }
    </style>

  <script>

    function validateData(){
        const newIncomingPassword=document.getElementById('newpassword');
        const newConfirmPassword=document.getElementById('confrmpassword');
        const errMessage1=document.getElementById('errorMessage1');
        const errMessage2=document.getElementById('errorMessage2')
        
        if(newIncomingPassword.value.trim()=""||newIncomingPassword.value.trim().length<9){
            newIncomingPassword.style.border = "solid 2px red"
            errMessage1.innerText="Password cannot be empty or must be at least 9 characters "
            return false;
        }
        else {
        return true
        }
        
        
        if(newConfirmPassword.value.trim()=""||newConfirmPassword.value.trim().length<9){
            newConfirmPassword.style.border = "solid 2px red"
            errMessage2.innerText="Password cannot be empty or must be at least 9 characters "
            return false;
        }
        else {
        return true
        }
    }


  </script>