<%-include("../partials/header.ejs")%>
<div class="container-fluid text-center   mb-5 mt-5  ">
<h3>CONTACT</h3>
<br>
<br>
<div>

  <h4>timesecommerce11@gmail.com</h4>
  <br>
  <h5 class="text fst-italic ">Blue beach, black road, North Calicut,</h5>
   <h5>Southern India.</h5>
</div>

</div>
<%-include("../partials/footer.ejs")%>
