<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIME-S LOGIN</title>
    <script src="https://kit.fontawesome.com/f721059464.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../javascript/userhomepafenotlogged.js"></script>
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
         
      
          <span style="margin-left: 50px;">
            <a class="navbar-brand">
              <img src="/image/TIME S.jpg" width="75" height="25" />
            </a>
          </span>
      
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          ></button>
      
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  "></ul>

            
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
      
      
      
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/home.">HOME</a>
                        </li>
      
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/about">ABOUT</a>
                        </li>
      
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/contact">CONTACT</a>
                        </li>
      
      
                  </ul>
      
                    <ul class="navbar-nav">
                           
      
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/signup">SIGNUP</a>
                            </li>
                    </ul>
      
      
          </div>
      
      
      
        </div>
      </nav>



<div class="row justify-content-center align-items-center p-5">
  <div class="text-center">
    <img src="/image/TIME S.jpg" />
  </div>
</div>




<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      
      <form onsubmit="return validateLogin()" action="/login" method="post">
        <div class="m-3">
          <label for="username" class="form-label"><i class="fa-regular fa-user" style="color: #00080d;"></i>  Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter your username"
          />
        </div>
        <div id="usernameMessage" class="text-danger m-3"></div>

        <div class="m-3">
          <label for="password" class="form-label  "><i class="fa-solid fa-lock" style="color: #00080d;"></i>  Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
          />
        </div>
        <div id="passwordMessage" class="text-danger m-3"></div>

        <% if (locals.errorMessage) { %>
          <div id="errorAlert" class="alert alert-danger" role="alert">
            <%= locals.errorMessage %>
          </div>
        
          <script>
            setTimeout(function() {
              var errorAlert = document.getElementById('errorAlert');
              if (errorAlert) {
                errorAlert.style.display = 'none';
              }
            }, 4000);
          </script>
        <% } %>
        <button type="submit" class="btn btn-warning mt-5  mb-5 m-3">LOGIN</button>
        <a href="/forgot">Forgot password  click here</a>
      </form>

     

    </div>
  </div>
</div>


<%-include("../partials/footer.ejs")%>

